/*commands to try :
float
inline
clear
overflow
display
table
*/
header
{
	text-align: center;

}
@font-face
{
	font-family: myfont;
	src: url('Quickers.ttf');
}
html
{
   margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
  background-color: rgb(214, 244, 214);
}
h1{
	color: #0080e2;
	display: inline-block;
	font-size: 40px;
	padding: 10px;
	align-items: center;
	background-color:rgb(232, 211, 211);
	font-family: Courier !important; /* !important gives precedence */
	border: solid 4px ;
	border-style: dashed;
}
h2 {
	text-align: left;
	color: red;
	font-size: 40px;
	font-style: italic;
	font-family: myfont;
}
summary{
	
	line-height: 200%;
}
label,ul,p,summary{
	font-size: 20px;
	text-align: left;
	font-family: Comic Sans MS;
}
footer
{
	background: rgb(232, 211, 211);
}
img
{
	margin: 50px;
	display: block;
	padding-top: 2%;
}

section
{
	display: inline-block;
	margin-right: 10px;
	width: 30%;
	float: left;
	padding-bottom: 2%;
}
footer
{	text-align: center;
	padding-bottom: 2%;
	clear: both;
	font-size: 18px;
}
a
{
	font-size: 18px;
	color: purple;
	font-family: Arial Black;
	text-decoration: none;
}
nav
{
	text-align: center;
}